<!doctype html>
<html lang="en">

<head>
  <title>Editar Producto</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="./css/estilo.css" rel="stylesheet">
</head>

<body>
  <header id="header"></header>


  <main>
    <div class="container w-50" id="app">
      
     
     
   
  <form class="mt-5">
     
    <h2>Modifico de Candidato</h2>
          <div class="row mt-4">
            <div class="mb-3 col-md-6">
            <label for="nombre" class="form-label">Name y Apellido</label>
            <input type="text" class="form-control" name="nombre" id="nombre" aria-describedby="helpId" placeholder="Ingrese su nombre" v-model="nombre" >
            <small id="helpId" class="form-text text-muted">Ej. Carlos Perez</small>
            </div>
  
            <div class="mb-3 col-md-6">
            <label for="especialidad" class="form-label">Especialidad</label>
            <input type="text" class="form-control" name="especialidad" id="especialidad" aria-describedby="helpId" placeholder="Ingrese su área de especialidad" v-model="especialidad" >
            <small id="helpId" class="form-text text-muted">Ej. Python FullStackk</small>
            </div>
          </div>
     
          <div class="row">
            <div class="mb-3 col-md-6">
            <label for="senority" class="form-label">Senority</label>
            <input type="text" class="form-control" name="senority" id="senority" aria-describedby="helpId" placeholder="Nivel de experiencia" v-model="senority" >
            <small id="helpId" class="form-text text-muted">Ej. Junior - Semisenior - Senior</small>
            </div>
        
    
            <div class="mb-3 col-md-6">
            <label for="disponibilidad">Disponibilidad</label><br>
            <input type="radio" name="disponibilidad" id="disponibilidad" v-model="disponibilidad" value="Si"> Si<br>
            <input type="radio" name="disponibilidad" id="disponibilidad" v-model="disponibilidad" value="No"> No<br>
            </div>
          </div>
        
          <div class="row">
            <div class="mb-3 col-md-6">
            <label for="correo" class="form-label">Email</label>
            <input type="text" class="form-control" name="correo" id="correo" aria-describedby="helpId" placeholder="Mail de contacto" v-model="correo" >
            <small id="helpId" class="form-text text-muted">Ej. carlosp@hotmail.com</small>
            </div>
  
            <div class="mb-3 col-md-6">
            <label for="imagen" class="form-label">Foto carnet</label>
            <input type="text" class="form-control" name="imagen" id="imagen" aria-describedby="helpId" placeholder="ingrese el nombre del jpg subido" v-model="imagen" >
            <small id="helpId" class="form-text text-muted">Ej. usuario6.jpeg</small>
            <img width="100" :src="imagen" alt="">
            
            </div>
          </div>
   
          <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-4">
              <button type="button" class="btn btn-success w-100" v-on:click="modificar()">Modificar datos</button>
            </div>
          </div>
      </form>
   
    </div>
  
  </main>



  <footer id="footer"></footer>

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/candidato_editar.js"></script>
  <script src="https://kit.fontawesome.com/3058924f53.js" crossorigin="anonymous"></script>
</body>

</html>
