<!doctype html>
<html lang="en">

<head>
  <title>Candidatos RH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href="./css/estilo.css" rel="stylesheet">
</head>

<body>
  <header id="header"></header>

  <main>
    <div id="app" class="container">
      <section v-if="error">
        <p>Lo sentimos, no podemos mostrar los datos en este momento</p>
      </section>

      <section v-else>
        <section v-if="cargando">
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-border text-primary spinner-border-sm" role="status">
                <span class="visually-hidden">Cargando...</span>
              </div>
            </div>
        </section>

        <section v-else>

          <div class="container">
            <div class="col-md-12">
              <div
                class="h-100 p-5 text-white bg-light border rounded-3 mt-2">
                <h2 class="text-primary">Bienvenidos a Administrador</h2>
                <p class="text-primary">Usted podra dar de alta un candidato, actualizar información o dar de baja.</p>
                  <a class="btn btn-primary" href="candidato_nuevo.html">Nuevo candidato</a>
              
              </div>
            </div>


      
          
          <div  class="table-responsive" style="margin-top:1rem;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Especialidad</th>
                  <th scope="col">Senority</th>
                  <th scope="col">Disponibilidad</th>
                  <th scope="col">Email</th>
                  <th scope="col">Foto</th>
                </tr>
              </thead>
              <tbody>
                <tr class="" v-for="p in candidatos">
                  <td scope="row">{{p.id}}</td>
                  <td>{{p.nombre}}</td>
                  <td>{{p.especialidad}}</td>
                  <td>{{p.senority}}</td>
                  <td>{{p.disponibilidad}}</td>
                  <td>{{p.correo}}</td>
                  <td>
                    <img :src="'fotos/' + p.imagen" width="100" height="100">
                  </td>
                  <td>
                    <a class="btn btn-success w-50" :href="'candidato_editar.html?id=' + p.id">Modificar</a>
                    <button type="button" class="btn btn-danger w-50" v-on:click="eliminar(p.id)">Dar de baja</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
      </section>
      
      
    </div>
  </main>

<footer id="footer"></footer>
 
  

  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  
  <script src="./js/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./js/candidatos.js"></script>
  <script src="https://kit.fontawesome.com/3058924f53.js" crossorigin="anonymous"></script>
</body>

</html>